.container {
  max-width: 800px;
  margin: 0 auto;
}
#qanda_container {
  font-family: Arial, Helvetica, sans-serif;
}
.qanda_text {
  margin: 0;
  padding: 0;
  max-height: 0px;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition-duration: 1s;
}
.qanda_item.active .qanda_text {
  opacity: 1;
  visibility: visible;
  max-height: 700px;
}

.qanda_question {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.qanda_question:hover {
  text-decoration: underline;
}

.qanda_item {
  border: 1px solid grey;
  border-bottom: 0;
  padding: 15px 10px;
  border-radius: 5px;
  position: relative;
  transition-duration: 1s;
}
.qanda_item.active {
  background-color: rgb(231, 231, 231);
}

#qanda_container div:last-child {
  border-bottom: 1px solid grey;
}

.qanda_cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
